{
	"presets": [
		["env", {
			"targets": {
  				"browsers": "> 5%"
			}
		}],
		"flow",
		"stage-0"
	],
	"plugins": [
    	"transform-custom-element-classes",
		"transform-decorators-legacy"
  	]
}
